* {
  font-family: 'roboto', sans-serif;
}

header {
  text-align: center;
}

h1 {
  font-size: 30px;
}

button {
  background-color: #eaf6ff;
  border: 1px solid #232528;
  color: #232528;
  padding: 5px 10px 5px 10px;
  border-radius: 10px;
  width: 80%;
}

button:hover {
  background-color: #232528;
  color: white;
}

.settings-button-area {
  width: 80%;
  margin: auto;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  justify-items: center;
}

.submit-button {
  grid-column-start: 6;
  display: none;
}

.create-button {
  grid-column-start: 1;
}

.add-button {
  grid-column-start: 2;
}

.edit-button {
  grid-column-start: 3;
}

.cancel-button {
  grid-column-start: 7;
  display: none;
}

.edit-bar-chart-button {
  grid-column-start: 1;
  grid-row-start: 1;
  display: none;
}

.edit-bar-settings-button {
  grid-column-start: 2;
  grid-row-start: 1;
  display: none;
}

.settings-input-area {
  width: 80%;
  margin: auto;
  margin-top: 20px;
}

/* Creating new bar chart section CSS */
.create-area-container {
  column-gap: 10px;
  row-gap: 5px;
  display:none;
}

.create-area-text {
  grid-row-start: 1;
  font-size: 1rem;
  font-weight: 600;
}

.create-area-text > span {
  font-weight: 300;
  font-size: 0.85rem;
}

.create-area-container > textarea {
  grid-row-start: 2;
  height: 3rem;
}

/* Adding new bar data section CSS */
.add-area-container {
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 10px;
  display: none;
}

/* Editing area section CSS */
.edit-area-container {
  grid-template-columns: 1fr;
  justify-items: center;
  display: none;
}

.edit-area-container > div {
  font-weight: 600;
  font-size: 1rem;
  margin-bottom: 10px;
}

/* Editing chart settings section CSS */
.edit-settings-container {
  grid-template-columns: 1fr;
  justify-items: center;
  display: none;
}

.edit-settings-container > div {
  font-weight: 600;
  font-size: 1rem;
  margin-bottom: 10px;
}

#container {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.grid-header-container {
  width: 100%;
  display: grid;
}

.name-header {
  background-color: #232528;
  color: #fff;
  text-align: center;
}

.value-header {
  background-color: #eaf6ff;
  text-align: right;
  width: 100%;
}

.grid-container {
  width: 100%;
  display: grid;
  grid-template-columns: 300px 1fr;
  margin-bottom: 10px;
}

.name, .value {
  color: #fff;
  font-weight: 600;
  font-size: 20px;
  padding: 10px 0px 10px 0px;
  background-color: #0cce6b;
}

.name {
  border-right: 3px solid #eaf6ff;
  text-align: center;
}

.value {
  text-align: right;
}

.new-name, .new-value, .color {
  border: 1px solid #232528;
  width: 150px;
}





